.cartbar_wrap {
    background-color: rgb(248, 172, 185);
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    .login {
        padding: 10px;
        &:hover {
            background-color: rgb(253, 120, 142);
            cursor: pointer;
            color: #ffffff;
        }
    }
    .carts_wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .wishlist {
            margin-right: 10px;
            padding: 10px;
            &:hover {
                background-color: rgb(253, 120, 142);
                cursor: pointer;
                color: #ffffff;
            }
        }
        .cartlist {
            margin-left: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 7px;
            padding-left: 7px;
            &:hover {
                background-color: rgb(253, 120, 142);
                color: #ffffff;
                cursor: pointer;
            }
        }
    }
}