.brands_wrap {
    padding-top: 30px;
    padding-bottom: 30px;
    .brands_text_icon {
        text-align: center;
        padding-bottom: 10px;
    }
    .brand_slider_wrap {
        padding: 25px;
    }
}