@import './../../styles/variables';
.sales_products_wrap {
    padding-top: 30px;
    padding-bottom: 30px;
    .sales_product_text {
        color: $primary-color;
        text-align: center;
        padding-bottom: 30px;
        @media #{$sm} {
            color: #ffffff;
        }
    }
    .product_warp {
        padding: 1px;
        .sale_image {
            width: 100%;
            height: 30vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            .image_text_wrap {
                height: 100%;
                color: #ffffff;
                .image_text {
                    color: #ffffff;
                    width: 50%;
                    padding: 20px;
                    word-wrap: break-word;
                }
            }
        }
    }
}