@import '../../../styles/variables';
.footer_head_wrap {
    background-color: $primary-color;
    color: $white;
    // padding: 10px;
    .col_one {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .col_two {
        width: 40%;
        margin-top: 20px;
        @media #{$md} {
            width: 100%;
            padding-left: 20%px;
            padding-right: 20%px;
        }
        @media #{$sm} {
            width: 100%;
            padding-left: 15%;
            padding-right: 15%;
        }
        @media #{$tiny} {
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
        }
        .footer_head_form {
            background-color: $white;
            border: 1px solid $secondary-color;
            padding-left: 20px;
            border-radius: 25px;
            display: flex;
            justify-content: space-between;
        }
    }
}